<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/client_profiles.css">
    <script src="/scripts/editForm.js" defer></script>
    <script src="/scripts/errorScript.js" defer></script>
    <title>Profile</title>
</head>
<body>
    <%- include("header.ejs") %>
    <div class="container">
        <% if (messages.error && messages.error.length > 0) { %>
            <div class="flash-error" id="flashError">
              <%= messages.error[0] %>
            </div>
          <% } %>
          
<!-- PROFILE CLIENT PERSONAL INFO -->

        <div class="header">
            <div class="profile-pic-div">
                <img class="profile-pic" src="/images/fotor_empty.png">
                <a class="update-pfp">Update Profile Picture (coming soon!)</a>
                <div class="edit-box"> 
                    <a id="edit-text">Edit Profile</a>
                    <img id="editPencil" src="/images/pencil-svgrepo-com.svg"></img>
                </div>  
            </div>

            <div class="profile-info">
                <h1><%= thisClient.firstname %> <%= thisClient.lastname %></h1>
                <p>Age: <span><%= thisClient.age %></span></p>
                <p>Parents: <span><%= thisClient.parent %></span></p>
                <p>Email: <span><%= thisClient.email %></span></p>
                <p>Cellphone: <span><%= thisClient.cellphone %></span></p>
            </div>

            <div class="coaches-div">
                <h2 id="coach-title">Trainer(s)</h2>
                <img id="addCoach" src="/images/plus-svgrepo-com.svg" style="display: inline-block;">
                <div class="trainerNameDiv">
                    <% clientCoaches.forEach(trainer => { %>
                      <div class="trainer-pair">
                        <h3 class="trainers"><%= trainer.firstname %> <%= trainer.lastname %></h3>
                        <form name="coachId" action="/delete-coach/<%= trainer.id %>/<%= thisClient.clientid %>" method="POST">
                          <button class="delCoachBtn" type="submit">Delete</button>
                        </form>
                      </div>
                    <% }) %>
                  </div>
            </div>

<!-- POPUP FORMS FOR EDITING AND CREATION -->

            <div id="assignCoachPopup" class="assign-overlay" style="display: none;">
                <form action="/assign-coach/<%= thisClient.clientid %>" method="POST" class="assign-coach-form">
                  <label for="coachId" class="assign-label">Assign a Coach:</label>
                  <select name="coachId" id="coachId" class="popup-select" required>
                    <% coaches.forEach(coach => { %>
                      <option value="<%= coach.id %>"><%= coach.firstname %> <%= coach.lastname %></option>
                    <% }) %>
                  </select>
                  <div class="assign-buttons">
                    <button type="submit" id="assign-button">Assign</button>
                    <button type="button" id="cancel-btn">Cancel</button>
                  </div>
                </form>
            </div>
              
            <div id="rating-popup" class="rating-popup hidden" style="display: none;">
                <form action="/rate/<%= thisClient.clientid %>" method="POST" id="rating-form">
                    <h2>Add a New Rating</h2>
                    <div style="display: inline-block;">
                        <label for="ball-handling">Ball Handling:</label>
                        <input class="ratefields" type="number" name="ballhandling">
                        <h3 style="color: white; display: inline; margin-left: 4px;">/10</h3>
                    </div>

                    <div style="display: inline-block;">
                        <label for="finishing">Finishing:</label>
                        <input class="ratefields" type="number" name="finishing">
                        <h3 style="color: white; display: inline; margin-left: 4px;">/10</h3>
                    </div>

                    <div style="display: inline-block;">
                        <label for="shooting">Shooting:</label>
                        <input class="ratefields" type="number" name="shooting">
                        <h3 style="color: white; display: inline; margin-left: 4px;">/10</h3>
                    </div>

                    <div style="display: inline-block;">
                        <label for="iq">IQ:</label>
                        <input style="position: relative; left: 2.3rem;" id="iq" class="ratefields" type="number" name="iq">
                        <h3 style="color: white; display: inline; position: relative; left: 2.3rem;">/10</h3>
                    </div>

                    <div style="display: inline-block;">
                        <label for="defense">Defense:</label>
                        <input class="ratefields" type="number" name="defense">
                        <h3 style="color: white; display: inline; margin-left: 4px;">/10</h3>
                    </div>

                    <div style="display: inline-block;">
                        <label for="passing">Passing:</label>
                        <input class="ratefields" type="number" name="passing">
                        <h3 style="color: white; display: inline; margin-left: 4px;">/10</h3>
                    </div>

                    <div class="popup-buttons">
                      <button type="submit" id="saveBtn">Save</button>
                      <button type="button" id="cancelBtn">Cancel</button>
                    </div>
                </form>
            </div>
              
            <div id="popupform" class="popup-form hidden" style="display: none;">
              <h2>Edit Client Info</h2>
                <form action="/edit/<%= thisClient.clientid %>" id="form-element" method="POST">
                    <label for="firstname">First Name:</label>
                    <input class="editfields" type="text" name="firstname" value="<%= thisClient.firstname %>">
                
                    <label for="lastname">Last Name:</label>
                    <input class="editfields" type="text" name="lastname" value="<%= thisClient.lastname %>">
                
                    <label for="age">Age:</label>
                    <input class="editfields" type="number" name="age" value="<%= thisClient.age %>">
                
                    <label for="email">Email:</label>
                    <input class="editfields" type="email" name="email" value="<%= thisClient.email %>">
                
                    <label for="cellphone">Phone:</label>
                    <input class="editfields" type="text" name="cellphone" value="<%= thisClient.cellphone %>">
                
                    <label for="parent">Parent:</label>
                    <input class="editfields" type="text" name="parent" value="<%= thisClient.parent %>">
                
                    <div class="popup-buttons">
                      <button type="submit" id="saveBtn">Save</button>
                      <button type="button" id="cancelEdit">Cancel</button>
                    </div>
                </form>
            </div>
            
        </div>

<!-- COMMENTS SECTION -->
        <div class="body">
            <div class="comments">
                <div class="comment-header-and-butt">
                    <h2 id="comment-header">Coach Comments</h2>
                    <img id="addCommentBtn" src="/images/plus-svgrepo-com.svg">
                </div>

                <div class="comment-display">
                    <% comments.forEach(comment => { %>
                        <div class="comment">
                            <img class="deleteComments" src="/images/x_icon.png">
                            <h3 id="comment-content"><%= comment.text %></h3>
                            <div style="display: flex;">
                                <p id="comment-author">Posted By <%= comment.Coach.firstname %> on <%= comment.formattedDate %></p>
                                <img class="commentPencil" src="/images/pencil-svgrepo-com.svg"></img>
                            </div>
                            
                        </div>
                        <div class="confirmDeleteComment" style="display: none;">
                            <div class="delete-comment-box">
                              <p>Are you sure you want to delete this comment?</p>
                              <form  method="POST" action="/deleteComment/<%=comment.commentid%>/<%=thisClient.clientid%>" class="popup-actions">
                                <button class="confirmComDelete" type="submit">Yes</button>
                                <button class="cancelComDelete" type="button">Cancel</button>
                              </form>
                            </div>
                        </div>
                        <div class="edit-comment-popup" style="display: none;">
                            <form action="/editComment/<%= comment.commentid %>/<%= thisClient.clientid %>" method="POST">
                                <h2>Edit Comment</h2>
                              <textarea name="textcontent" required><%= comment.text %></textarea>
                              <div class="popup-buttons">
                                <button type="submit" id="saveCommentEdit">Save</button>
                                <button type="button" id="cancelCommentEdit" class="cancelEditComment">Cancel</button>
                              </div>
                            </form>
                          </div>
                    <% }) %>
                </div>
            </div>

<!-- RATINGS SECTION -->
            <div class="right-body">
                <div class="ratings">
                    <div class="header-and-butt">
                        <h2 id="ratings-header">Client Ratings</h2>
                        <img id="addRatingBtn" src="/images/plus-svgrepo-com.svg">
                    </div>
                    
                    <div class="ratings-display">
                        <% ratings.forEach(rating => { %>
                            <div class="rating">
                                <div class="rating-text">
                                    <div>
                                        <h3 id="rating-author"><%= rating.Coach.firstname %> <%= rating.Coach.lastname %></h3>
                                        <img class="deleteRatingBtn" src="/images/x_icon.png">
                                    </div>
                                        <ul class="actual-ratings">
                                            <li>Ball Handling: <span><%= rating.ball_handling %>/10</span></li>
                                            <li>Finishing: <span><%= rating.finishing %>/10</span></li>
                                            <li>Shooting: <span><%= rating.shooting %>/10</span></li>
                                            <li>IQ: <span><%= rating.iq %>/10</span></li>
                                            <li>Defense: <span><%= rating.defense %>/10</span></li>
                                            <li>Passing: <span><%= rating.passing %>/10</span></li>
                                        </ul>
                                    <div style="display: flex;">
                                        <p style="font-size: small; text-decoration: underline; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; position: relative; bottom: 1.7rem;">Created on: <%= rating.formattedDate %></p>
                                        <img class="ratingPencil" src="/images/pencil-svgrepo-com.svg"></img>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="confirmDeleteRating" style="display: none;">
                                <div class="delete-rating-box">
                                  <p>Are you sure you want to delete this rating?</p>
                                  <form  method="POST" action="/deleteRating/<%=rating.ratingid%>/<%=thisClient.clientid%>" class="popup-actions">
                                    <button id="confirmDelete" type="submit">Yes</button>
                                    <button class="cancelDelete" type="reset">Cancel</button>
                                  </form>
                                </div>
                            </div>

                            <div class="edit-rating-popup" style="display: none;">
                                <h2>Edit Current Rating</h2>
                                <form action="/editRating/<%= rating.ratingid %>/<%= thisClient.clientid %>" method="POST">
                                  <div style="display: inline-block;">
                                    <label for="ballhandling">Ball Handling:</label>
                                    <input class="ratefields" type="number" name="ballhandling" value="<%= rating.ball_handling %>" required>
                                    <h3 style="color: white; display: inline; margin-left: 4px;">/10</h3>
                                  </div>
                              
                                  <div style="display: inline-block;">
                                    <label for="finishing">Finishing:</label>
                                    <input class="ratefields" type="number" name="finishing" value="<%= rating.finishing %>" required>
                                    <h3 style="color: white; display: inline; margin-left: 4px;">/10</h3>
                                  </div>
                              
                                  <div style="display: inline-block;">
                                    <label for="shooting">Shooting:</label>
                                    <input class="ratefields" type="number" name="shooting" value="<%= rating.shooting %>" required>
                                    <h3 style="color: white; display: inline; margin-left: 4px;">/10</h3>
                                  </div>
                              
                                  <div style="display: inline-block;">
                                    <label for="iq">IQ:</label>
                                    <input style="position: relative; left: 2.3rem;"id="iq" class="ratefields" type="number" name="iq" value="<%= rating.iq %>" required>
                                    <h3 style="color: white; display: inline; position: relative; left: 2.3rem;">/10</h3>
                                  </div>
                              
                                  <div style="display: inline-block;">
                                    <label for="defense">Defense:</label>
                                    <input class="ratefields" type="number" name="defense" value="<%= rating.defense %>" required>
                                    <h3 style="color: white; display: inline; margin-left: 4px;">/10</h3>
                                  </div>
                              
                                  <div style="display: inline-block;">
                                    <label for="passing">Passing:</label>
                                    <input class="ratefields" type="number" name="passing" value="<%= rating.passing %>" required>
                                    <h3 style="color: white; display: inline; margin-left: 4px;">/10</h3>
                                  </div>
                              
                                  <div class="popup-buttons">
                                    <button id="confirmEditRating" type="submit">Save</button>
                                    <button id="cancelEditRating" type="button" class="cancelEditRating">Cancel</button>
                                  </div>
                                </form>
                              </div>
                              
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="commentPopup" style="display: none;">
        <form id="popupContent" action="/comment/<%= thisClient.clientid %>" method="POST">
          <h2 class="comment-form-header">Add a New Comment</h2>
          <textarea name="textcontent" id="commentInput" placeholder="Write your comment here..."></textarea>
          <br>
          <button type="submit" id="submitComment">Submit</button>
          <button type="button" id="cancelComment">Cancel</button>
        </form>
    </div>
      
</body>
</html>