<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/client_profiles.css">
    <script src="/scripts/editForm.js" defer></script>
    <title>Profile</title>
</head>
<body>
    <%- include("header.ejs") %>
    <div class="container">
        <div class="header">
            <div class="profile-pic-div">
                <img class="profile-pic" src="/images/fotor_empty.png">
                <a href="www.google.com" class="update-pfp">Update Profile Picture</a>
                <div class="edit-box"> 
                    <a id="edit-text">Edit Profile</a>
                    <img id="editPencil" src="/images/pencil-svgrepo-com.svg"></img>
                </div>  
            </div>
            
            <div id="assignCoachPopup" class="assign-overlay" style="display: none;">
                <form action="/assign-coach/<%= thisClient.clientid %>" method="POST" class="assign-coach-form">
                  <label for="coachId" class="assign-label">Assign a Coach:</label>
                  <select name="coachId" id="coachId" class="popup-select" required>
                    <% coaches.forEach(coach => { %>
                      <option value="<%= coach.id %>"><%= coach.firstname %> <%= coach.lastname %></option>
                    <% }) %>
                  </select>
                  <div class="assign-buttons">
                    <button type="submit" id="assign-button">Assign</button>
                    <button type="button" id="cancel-btn">Cancel</button>
                  </div>
                </form>
            </div>
              
              
            <div id="popupform" class="popup-form hidden" style="display: none;">
                <form action="/edit/<%= thisClient.clientid %>" id="form-element" method="POST">
                    <label for="firstname">First Name:</label>
                    <input class="editfields" type="text" name="firstname" value="<%= thisClient.firstname %>">
                
                    <label for="lastname">Last Name:</label>
                    <input class="editfields" type="text" name="lastname" value="<%= thisClient.lastname %>">
                
                    <label for="age">Age:</label>
                    <input class="editfields" type="number" name="age" value="<%= thisClient.age %>">
                
                    <label for="email">Email:</label>
                    <input class="editfields" type="email" name="email" value="<%= thisClient.email %>">
                
                    <label for="cellphone">Phone:</label>
                    <input class="editfields" type="text" name="cellphone" value="<%= thisClient.cellphone %>">
                
                    <label for="parent">Parent:</label>
                    <input class="editfields" type="text" name="parent" value="<%= thisClient.parent %>">
                
                    <div class="popup-buttons">
                      <button type="submit" id="saveBtn">Save</button>
                      <button type="button" id="cancelBtn">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="profile-info">
                <h1><%= thisClient.firstname %> <%= thisClient.lastname %></h1>
                <p>Age: <%= thisClient.age %></p>
                <p>Parents: <%= thisClient.parent %></p>
                <p>Email: <%= thisClient.email %></p>
                <p>Cellphone: <%= thisClient.cellphone %></p>
            </div>

            <div class="coaches-div">
                <h2 id="coach-title">Trainer(s)</h2>
                <img id="addCoach" src="/images/plus-svgrepo-com.svg" style="display: inline-block;">
                <% clientCoaches.forEach(trainer => { %>
                    <h3><%= trainer.firstname %> <%= trainer.lastname %> <form name="coachId" action="/delete-coach/<%= trainer.id %>/ <%= thisClient.clientid %>" method="POST"><button type="submit">Delete</button></form></h3>
                <% }) %>
            </div>
        </div>
        <div class="body">
            <div class="comments">
                <h2 id="comment-header">Coach Comments</h2>
                <div class="comment-display">
                    <div class="comment">
                        <h3 id="comment-content">Client is goated and dodwo dw dwndin vnvidnd  fndjsndioendoi v ieienoenioenve  denoejdienfe vneionec eiemeoi cc ienioeiocneinio  ioneiofnc eiofneiofemdmiomdenme ifieofne.</h3>
                        <p id="comment-author">Posted By (Coach) on (Date)</p>
                    </div>
                </div>
            </div>
            <div class="right-body">
                <div class="ratings">
                    <h2 id="ratings-header">Client Ratings</h2>
                    <div class="ratings-display">
                        <div class="rating">
                            <h3 id="rating-author">Coach 1</h3>
                            <ul class="actual-ratings">
                                <li>Ball Handling: <span>4/10</span></li>
                                <li>Finishing: <span>4/10</span></li>
                                <li>Shooting: <span>4/10</span></li>
                                <li>IQ: <span>4/10</span></li>
                                <li>Defense: <span>4/10</span></li>
                                <li> Passing: <span>4/10</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>